.account-container {
  width: 960px;
  margin: 0 auto;
}

.account-box {
  border: 1px solid #dce0e6;
  background-color: white;
  border-radius: 4px;
}

.account-portal {
  display: flex;

}

.account-info {
  width: 70%;
  padding: 1em;
}

.account-info-title {
  font-size: 1.75rem;
  position: absolute;
  top: -18px;
}

.account-panel {
  width: 25%;
  float: left;
  border-right: 1px solid #dce0e6;
}

.account-info-title-container {
  position: relative;
}
.account-info-row {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 1rem;
  border-bottom: 1px solid #dce0e6;
  padding-bottom: 1em;
}

.account-info-container {
  display: flex;
}

.account-infos-container {
  display: flex;
  flex-direction: column;
}

.account-list {
  list-style: none;
  margin-top: 2rem;
}

.account-list li {
  margin-bottom: 5px;
  font-size: 23px;
  font-weight: 300;
  display: flex;
}

.account-picture {
  height: 175px;
  width: 175px;
  border-radius: 50%;
  margin: 1rem 3rem;
  cursor: pointer;
  object-fit: cover;
}

.account-picture-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upload-photo-label {
  margin: .5rem 0;
  cursor: pointer;
}

.edit-input {
  margin-bottom: 7px;
}

.edit-form-btn {
  margin-left: 10px;
  font-size: 1.25rem;
  border: 1px solid #51af33;
  width: 100%;
  background: #51af33;
  border-radius: 4px;
  padding: 0.6em 4em 0.6em;
  text-decoration: none;
  color: white;
  margin-top: 8px;
  transition: background-color 0.5s ease;
  margin-bottom: 10px;
}

.edit-form-btn:hover {
  background-color: #438e29;
  color: white;
  transition: background-color 0.5s ease;
  cursor: pointer;
}

.upload-photo-label {
  height: 215px;
  width: 175px;
  position: absolute;
  z-index: 1;
  opacity: 0;
}

.side-nav {
  list-style: none;
  color: #51af33;
  padding-left: 0;
  margin: 0;
}

.side-nav-item {
  padding-left: 40px;
  padding: 18px 40px;
  cursor: pointer;
}

.side-nav-item:hover {
    border-left: 5px solid gray;
}

.side-nav-link {
  text-decoration: none;
  color: #51af33;
}

.side-nav-link:hover {
  color: #438e29;

}
