.dashboard-main-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.row {
  min-width: 800px;
}

.greeting {
  margin-bottom: 1rem;
  display: flex;
}

.greeting h1 {
  font-weight: 300;
}
.greeting-picture {
  height: 75px;
  width: 75px;
  border-radius: 50%;
  margin-right: 3rem;
}
.form-pictures {
  width: 1200px;
}

.tile-container {
  min-height: 800px;
  display: flex;
  flex-wrap: wrap;
}

.tutor-link-tile {
  width: 33.333%
}

.tutor-link-title Link{

  color: #438e29;
}

.biology {
  background: image-url('biology.jpg');
}

.chemistry {
  background: image-url('chemistry.jpeg');
}

.coding {
  background: image-url('coding.jpg');
}

.history {
  background: image-url('history.jpg');
}

.physics {
  background: image-url('physics.jpeg');
}

.testprep {
  background: image-url('test-prep.jpeg');
}

.tutor-link-tile {
  height: 380px;
  width: 380px;
  margin-right: 20px;
  background-repeat: no-repeat;
  background-size: 100%;
  display: inline-block;
  position: relative;
}

.flag-container {
  position: relative;
  z-index: 500;
  display: block;
  height: 50px;
  vertical-align: baseline;
}
.subject-title-sub {
  position: absolute;
  top: 18rem;
  padding: .6em 1.4em;
  background-color: rgba(255,255,255,0.75);
  color: black;
  font-weight: bold;
  transition: color 0.5s ease;
  transition: background-color 0.5s ease;
}

.no-booking-available {
  margin: 3rem 0;
}

.hover {
  background-color: white;
  transition: color 0.5s ease;
  transition: background-color 0.5s ease;
  color: #438e29;
}

.created-by {
  font-weight: 100;
  text-align: right;
  width: 100%;
  margin-right: 2rem;
}
