.dashboard-main-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.row {
  min-width: 800px;
}

.greeting {
  margin-bottom: 1rem;
  display: flex;
}

.greeting h1 {
  font-weight: 300;
}
.greeting-picture {
  height: 75px;
  width: 75px;
  border-radius: 50%;
  margin-right: 3rem;
}
.form-pictures {
  width: 1200px;
}

.tile-container {
  min-height: 800px;
  display: flex;
  flex-wrap: wrap;
}

.tutor-link-tile {
  width: 33.333%
}

.tutor-link-title Link{

  color: #438e29;
}

.biology {
  background: image-url('biology.jpg');
}

.chemistry {
  background: image-url('chemistry.jpeg');
}

.coding {
  background: image-url('coding.jpg');
}

.history {
  background: image-url('history.jpg');
}

.physics {
  background: image-url('physics.jpeg');
}

.testprep {
  background: image-url('test-prep.jpeg');
}

.tutor-link-tile {
  height: 380px;
  width: 380px;
  margin-right: 20px;
  background-repeat: no-repeat;
  background-size: 100%;
  display: inline-block;
  position: relative;
}

.flag-container {
  position: relative;
  z-index: 500;
  display: block;
  height: 50px;
  vertical-align: baseline;
}
.subject-title-sub {
  position: absolute;
  top: 18rem;
  padding: .6em 1.4em;
  background-color: rgba(255,255,255,0.75);
  color: black;
  font-weight: bold;
  transition: color 0.5s ease;
  transition: background-color 0.5s ease;
}

.no-booking-available {
  margin: 3rem 0;
}

.hover {
  background-color: white;
  transition: color 0.5s ease;
  transition: background-color 0.5s ease;
  color: #438e29;
}

.created-by {
  font-weight: 100;
  text-align: right;
  width: 100%;
  margin-right: 2rem;
}

.how-to-get-started-container {
  margin-bottom: 3rem;
}

.get-started-step {
  display: flex;
}

.get-started-figure {
  margin-right: 1.5em;
  margin-top: 1em;
}

.get-started-icon {
  background-color: #67727e;
  font-size: 1.25em;
  display: inline-block;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  text-align: center;
  font-weight: 600;
  color: white;
  margin-top: 7px;
  align-items: center;
  justify-content: center;
  line-height: 43px;
}

.get-started-title {
  font-size: 2rem;
  line-height: 1.25;
  font-weight: normal;
}

.get-started-sub {
  margin: 0 0 1rem 0;
  color: #242a30;
  font-family: "Proxima", Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-size: 1rem;
  line-height: 1.5;
}

.get-started-name {
  color: #67727e;
  line-height: 1.25;
  margin-bottom: .3em;
  font-weight: 400;
}
