html {
  font-family: sans-serif;
}
body {
  margin: 8px 0 0 0;
}

.page-header {
  border-bottom: 1px solid #dce0e6;
  display: block;
  width: auto;
  padding-bottom: 10px;
}

.header-elements-container {
  margin: 0 auto;
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  display: block;
  background: image-url('logo.png');
  background-size: 170px 43px;
  width: 170px;
  height: 43px;
  float: left;
}

.header-links-container {
  float: right;
  margin: 3px 0 3px 0;
}

.header-links-container a {
  color: #51af33;
  text-decoration: none;
  cursor: pointer;
  font-weight: normal;
  position: relative;
  display: inline-block;
  margin-left: 20px;
  font-size: 15px;
  font-weight: 100;
}

.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.build-progress {
  padding: 1px 0;
  border-bottom: 1px solid #dce0e6;
  display: flex;
  justify-content: center;
}

.build-progress-step {
  padding: 0.6rem 0;
  font-weight: 600;
  font-size: 14px;
}

.build-progress-container {
  display: flex;
  width: 1200px;
  justify-content: space-around;
  line-height: 1.5em;
}

.build-trust-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #e8ebef;
}

.build-trust-container {
  max-width: 1200px;
  margin: 10px 0;
}
.trust-icon {
  background: image-url('trusticon.svg');
  background-repeat: no-repeat;
  width: 35px;
  height: 45px;
}

.not-active {
  color: #b1b9c3;
}

.build-progress-container {
  display: flex;
  margin: 0 auto;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-title-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: normal;
}

.form-title {
  font-size: 2rem;
}

.form-title-words {
  margin: 20px 0 0 0;
}

.form-input-container {
  width: 800px;
  margin: 15px 15px;
  padding: 15px 15px;
  border-radius: 4px;
  border: 1px solid #dce0e6;
}

.search-bar-container {
  width: 800px;
}
.address-input {
  border: 1px solid gray;
  border-radius: 4px;
  padding: .625em 1em;
  font-size: 1em;
  font-weight: 200;
  width: 95%;
  min-height: 23px;
}

.build-form-input {
  display: flex;
  flex-direction: column;
  color: #545e69;
}

.build-form-input ul {
  list-style: none;
  padding-left: 10px;
}

.build-form-input span{
  font-size: 13px;
  margin-bottom: 8px;
}

.build-form-input h4 {
  font-weight: normal;
  margin-top: 15px;
  margin-bottom: 12px;
}

.build-form-input label {
  font-weight: 100;
}

.build-form-input select {
  margin-bottom: 14px;
}
.address-row-container {
  display: flex;
}

.education-subtitle {
  margin-top: 40px;
  margin-bottom: 0;
}

.radio-buttons {
  border: none;
  padding: 0 0;
}

.form-submit-button-container {
  display: flex;
  justify-content: center;
}

.submit-form-btn:hover {
  background-color: #438e29;
  color: white;
  transition: background-color 0.5s ease;
  cursor: pointer;
}

.description {
  border: 1px solid gray;
  border-radius: 4px;
  padding: .625em 1em;
  font-size: 1em;
  font-weight: 200;
  width: 95%;
  white-space: normal;
  min-height: 23px;
}

.submit-form-btn {

  font-size: 1.25rem;
  border: 1px solid #51af33;
  width: 35%;
  background: #51af33;
  border-radius: 4px;
  padding: 0.8em 2em 0.8em;
  text-decoration: none;
  color: white;
  margin-top: 15px;
  font-weight: 100;
  transition: background-color 0.5s ease;
}
