html {
  font-family: sans-serif;
}
body {
  margin: 8px 0 0 0;
}

.page-header {
  border-bottom: 1px solid #dce0e6;
  display: block;
  width: auto;
  padding-bottom: 10px;
}

.header-elements-container {
  margin: 0 auto;
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  display: block;
  background: image-url('logo.png');
  background-size: 170px 43px;
  width: 170px;
  height: 43px;
  float: left;
}

.header-links-container {
  float: right;
  margin: 3px 0 3px 0;
}

.header-links-container span {
  color: #51af33;
  text-decoration: none;
  cursor: pointer;
  font-weight: normal;
  position: relative;
  display: inline-block;
  font-size: 15px;
  font-weight: 100;
}

.homepage-login-button:hover {
  color: #438e29;
}

.homepage-signup-button {
  color: #51af33;
  margin-left: 20px;
  border: 1px solid #51af33;
  border-radius: 4px;
  padding: 0.8em 2em 0.8em;
  background-color: white;
  transition: background-color 0.5s ease;
}

.homepage-signup-button:hover {
  background-color: #438e29;
  color: white;
  transition: background-color 0.5s ease;
}

.homepage-signup-button:hover span {
  color:white;
}


.main-content {
  background-position: center center;
  position: relative;
  background-repeat: no-repeat;
  height: 700px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  /*position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;*/
  background-image: image-url('workspace.jpg');
  /*background-size: 1597px 640px;*/
  background-color: white;
  /*5.3625*/
}

.main-content-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-content-title {
  font-size: 2.8rem;
  font-weight: 100;
}

.main-content-subtitle {
  font-size: 1.4rem;
  font-weight: 300;
}

.main-content-button-container {
  max-width: 500px;
  display: block;
  text-align: center;
  margin-bottom: 1rem;
}

.main-content-button {
  border: 1px solid #51af33;
  border-radius: 4px;
  padding: 0.8em 2em 0.8em;
  background-color: white;
  color: #51af33;
  text-decoration: none;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
  margin-top: 1.25rem;
  text-align: center;
  font-weight: 100;
  display: inline-block;
  transition: background-color 0.5s ease;
  opacity: 0.75;

}

.main-content-button:hover {
  background-color: #438e29;
  color: white;
  transition: background-color 0.5s ease;
  opacity: 1;
}

.main-content-searchbar-container {
  max-width: 620px;
  width: 100%;
  display: block;
  text-align: center;
  margin-bottom: 1rem;
  // opacity: .75;
}

.search-form {
  display: flex;
  border: 1px solid #b1b9c3;
  border-radius: 4px;
  background: white;
}

.material-icons {
  background-color: white;
  margin-left: 10px;
  margin-right: 10px;
  color: black;
}

.search-icon {
  background: none;
  margin-top: 13px;
}

.main-content-searchbar {
  /*border: 1px solid #b1b9c3;*/
  max-width: 100%;
}

.search-form input {
  font-size: 1.25rem;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  border: none;
  font-weight: 300;
}

footer {
  background: #67727e;
  padding: 25px 0;
  overflow: hidden;
  color: #b1b9c3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.my-information {
  width: 1200px;
  display: flex;
}

.soc-links-caption {
  padding-top: 22px;
  padding-right: 12px;
  font-size: 19px;
  font-weight: 100;
}

.footer-links-container {
  display: flex;
  width: 1200px;
  padding-top: 40px;
}

.footer-column {
  width: 33.33%;
  position: relative;
  padding-right: 1em;
  font-size: 19px;
  font-weight: 100;
}

.links {
  margin-top: 10px;

}

.links a {
  color: white;
  height: 1.7em;
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.footer-link {
  font-size: 1rem;
}

.how-it-works-container {
  width: 600px;
}
.how-it-works {
  padding: 4em 0;
  background: aliceblue;

}

.how-it-works-title {
  font-size: 2.5rem;
  margin-bottom: 3rem;
  font-weight: 100;

}

.how-it-works-step {
  display: flex;
  margin-bottom: 6rem;
}

.how-it-works-step-label {
  color: #86919d;
  font-size: 1.5rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  border: 1px solid #86919d;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.how-it-works-step-content {
  margin-left: 1rem;
  text-align: left;

}

.how-it-works-step-name {
  font-size: 1.75rem;
  margin-bottom: 1rem;
  font-weight: 200;
}

.how-it-works-step-description {
  font-size: 1.1rem;
  font-weight: 100;
}
.how-it-works-step-pic {
  width: 180px;
  margin-bottom: 2.5rem;
}

.how-it-works-separator {
  border: 1px solid transparent;
  border-top-color: #86919d;
  width: 7.5rem;
  margin: 3rem auto 4rem;
}
.taskable-pledge {
  display: flex;
  text-align: left;
}

.how-it-works-pledge-pic {
  max-width: 60px;
  margin-bottom: 2rem;
}

.how-it-works-pledge-text-container {
  margin-left: 1.5rem;
}

.pledge-name {
  font-size: 1.75rem;
  margin-bottom: 1rem;
  margin-top: 1.6rem;
  font-weight: 300;
}

.pledge-description {
  font-size: 1.1rem;
  font-weight: 100;
}
