.signup-modal-title {
  font-size: 1.75rem;
  line-height: 1.428571429;
  margin-bottom: .5rem;
  font-weight: 600;
}

.signup-sub {
  margin-bottom: .6rem;
  font-weight: 300;
  font-size: 1.25rem;
  line-height: 1.6;
}

.modal-container {
  display: block;
  width: 100%;
  position: relative;
}

.modal-input {
  outline: none;
  border-style: none;
  display: flex;
  flex-direction: column;
  border-color: transparent;
  border: 1px solid #b1b9c3;
  min-height: 20px;
  vertical-align: middle;
  border-radius: 4px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 0.625em 0;
  width: 91%;
  font-size: 1em;
  display: block;
  padding-left: 2.5em;
}

.name-container {
  display: flex;
}

.name-container label {
  color: #86919d;
  cursor: pointer;
  font-size: .875rem;
  font-weight: 200;
}

.modal-container label {
  color: #86919d;
  cursor: pointer;
  font-size: .875rem;
  font-weight: 200;
}
.name-input-container {
  width: 50%;
  margin-right: 1.5rem;
  position: relative;
}

.signup-login-link {
  cursor: pointer;
  margin-left: 0.5rem;
}

.switch-modal {
  display: flex;
  margin-top: 1rem;
}

.modal-icon {
  position: absolute;
  top: 1.35em;
  left: 0;
  color: #67727e;
}
