.recommendations-container {
  display: flex;
  margin-top: 2rem;
  width: 1200px;
  min-height: 800px;
}

.recommendations-filter-panel {
  padding: 1.5rem 2rem;
  background: white;
  border: 1px solid #dce0e6;
  border-radius: 4px;
  overflow: hidden;
}

.recommendations-filter-container {
  margin-right: 24px;
  max-width: 376px;
  min-width: 376px;
  flex: 1 1 auto;
}

.filter-dropdown {
  width: 100%;
  margin-top: .3rem;
  margin-bottom: .75rem;
  padding: 0.5em 0.75em;
  background-color: white;
  height: 46px;
  font-size: 1em;
  font-weight: 300;
}

.time-dropdown {
  width: 100%;
  margin-top: 1.5rem;
  margin-bottom: 1.75rem;
  padding: 0.5em 0.75em;
  background-color: white;
  height: 46px;
  font-size: 1em;
  font-weight: 300;
}

.recommendations-filter-title {
  margin-top: .5rem;
  margin-bottom: 1rem;
}

.datetime-window-container {
  display: flex;
  flex-direction: row;
  overflow: scroll;
}

.pick-date-window {
  min-width: 80px;
  height: 80px;
  margin: 2px;
}

.pick-date-window label {
  display: flex;
  height: 80px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid #b1b9c3;
  border-radius: 4px;
}

.selected-date {
  background-color: #51af33;
  border-color: #51af33;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

.recommendation-result {
  border: 1px solid #dce0e6;
  border-radius: 4px;
  padding: 2rem;
  background: white;
  display: flex;
  margin-bottom: 2rem;
}

.recommendations-result-figure {
  display: flex;
  flex-direction: column;
}

.result-picture {
  width: 200px;
  height: 200px;
}

.recommendations-result-top-row {
  display: flex;
  justify-content: space-between;
}

.recommendations-result-content {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
}

.result-name {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.result-rate {
  font-weight: 500;
  font-size: 1.5rem;
}

.blurb-title {
  padding-top: 1rem;
  border-top: 1px solid #dce0e6;
  font-size: 1rem;
  font-weight: 600;
}

.blurb {
  font-weight: 100;
  margin-top: 0.6rem;
}

.is-hidden {
  display: none;
}

.none-available {
  margin-left: 7rem;
  margin-top: 10rem;
  font-weight: bold;
  font-size: 23px;
}

.filter-subtitle {
  font-weight: 200;
}

.book-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.booking-link {
  margin: 1rem 0;
  font-size: 1.125rem;
  border: 1px solid #51af33;
  background: #51af33;
  border-radius: 4px;
  padding: 0.5625em 1.125em .375em 1.125em;
  text-decoration: none;
  color: white;
  transition: background-color 0.5s ease;
  font-weight: 200;
}

.booking-link:hover {
  background-color: #438e29;
  color: white;
  transition: background-color 0.5s ease;
  cursor: pointer;
}

.result-info {
  list-style: none;
  position: relative;
  padding-left: 0;
}

.list-icon {
  position: absolute;
  bottom: 0;
}

.list-item {
  padding-left: 2.8rem;
}
