.rate-input-container {
  display: flex;
}

.rate-input {
  border-radius: 4px;
  padding: 0.5em 0.75em;
  margin: 0 5px;
  border-width: 1px;
}

.rate-symbol {
  margin: 7px 0;
}

.fee {
  margin-bottom: 5rem;
}
