<!DOCTYPE html>
<html>
  <head>
    <title>Taskable</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>


    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC7DmvHixyLUt8oZaEZvKAXqYQmMM1vT9k&libraries=places"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
